<!DOCTYPE HTML>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>Linked Data Viz</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="sgvizler.chart.css"><script type="text/javascript" src="jquery.min.js"></script><script type="text/javascript" src="https://www.google.com/jsapi"></script><script type="text/javascript" id="sgvzlr_script" src="sgvizler.js"></script><script type="text/javascript"> 
      //__namespace__
      $(document).ready(sgvizler.go());
      </script></head>
   <body>
      <div id="sgvzl_example_query" data-sgvizler-endpoint="__endpoint__" data-sgvizler-query="__query__" data-sgvizler-chart="__chart__" data-sgvizler-chart-options="__options__" data-sgvizler-loglevel="2" style="width:100%; height:95%;"></div>
   </body>
</html>