<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>
        </title>
        <link rel="stylesheet" href="jquery.mobile.min.css" />
        <style>
            /* App custom styles */
        </style>
        <script src="jquery.min.js">
        </script>
        <script src="jquery.mobile.min.js">
        </script>
        <script>
            function formSubmit()
                {
                    var response = $('#_txt_ans').val();
                    saveSurvey.saveResponse(response);
                    saveSurvey.closeApp();

                }
        </script>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" id="page1">
            <div data-role="content">
                <h1 id="_txt_qt">
                    Question_content
                </h1>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="_txt_ans">
                            Answer Here
                        </label>
                        <input name="" id="_txt_ans" placeholder="" value="" type="text" />
                    </fieldset>
                </div>
                <input id="_btn_submit" onclick="formSubmit()" value="Submit" type="submit" />
            </div>
        </div>
        <script>
            //App custom javascript
        </script>
    </body>
</html>